.user {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 12px;
  border-radius: 12px;
}

.user__info {
  display: flex;
  gap: 5px;
}

.user__image {
  width: 100%;
  height: 300px;
}
